
  *{
    margin: 0px;
    padding: 0;
}



body{
    background-color:#6259ac;
    height: 60pc;
    margin: 0px;
}


h1{
    color: white;
    text-align: center;
}

p{
    color: white;
    text-align: center;
}
.btn{
    background-color: white;
    border-style:solid;
    width: 10rem;
    height: 3rem;
    margin-left: 45%;
    margin-top: 1rem;
}
.header{
    background-color: white;
    height: 80px;
    width: 100%;
    border: none;
}
img{ 
    width: 300px; 
    height: 300px; 
    margin-top: 3rem; 
    display: flex;
    margin-left: 15px;
}
.maindiv{
    display: flex;
    margin-left: 200px;
    margin-left: 20%;
}


.img1{
    margin-right: 40px;
    color: whitesmoke;
}

.img2{
    margin-right: 40px;
    color: whitesmoke;

}

.img3{
    margin-right: 40px;
    color:whitesmoke;
}

/* .next-kbc{
    border: none;
    height: 90px;
    position: relative;
    background-color: grey;
    margin-top: 13%;
} */